/* universal selector */
* {
    box-sizing:border-box;
}

/* body tag, includes major stuff like background colour, font family, etc. */
body {
    background-color:#aad4cf;
    font-family:Arial, Helvetica, sans-serif;
    margin:auto;
}

/* selects all headings and sets their font weight to normal */
h1,h2,h3,h4 {
    font-weight:normal;
}

/* banner stuff */
.banner {
    color:white;
}

.banner img {
    top:auto;
    width:650px;
    margin:auto;
}

/* webpage stuff */
.webpage {
    background-color:#d4e9e7;
}

.webpage header nav ul li {
    text-align:center;
    border-right:1px solid #000000;
    display:inline-block;
    width:200spx
}

.webpage header nav ul li:last-child {
    border-right:none;
}

/* text wrapper stuff */
.wrapper img {
    width:300px;
    margin:25px;
    float:left;
}

footer {
    float:right;
}