/* universal selector */
* {
    box-sizing:border-box;
}

/* body tag, includes major stuff like background colour, font family, etc. */
body {
    background-color:#aad4cf;
    font-family:Arial, Helvetica, sans-serif;
    margin:auto;
}

/* selects all headings and sets their font weight to normal */
h1,h2,h3,h4 {
    font-weight:normal;
}

/* banner stuff */
.banner {
    color:white;
    font-size:26px;
}

.banner img {
    top:auto;
    width:800px;
    margin:auto;
    position:relative;
}

.banner h1 {
    top:100px;
    left:150px;
    right:150px;
    position:absolute;
}

/* webpage stuff (navigation, borders, etc) */
.webpage {
    margin:auto;
    width:800px;
    background-color:#d4e9e7;
}

.webpage header {
    text-align:center;
    font-size:20px;
}

.webpage header nav ul li {
    text-align:center;
    border-right:1px solid #000000;
    display:inline-block;
    width:225px
}

.webpage header nav ul li:last-child {
    border-right:none;
}

/* text wrapper stuff */
.wrapper img {
    width:250px;
    margin:25px;
    float:left;
}

/* forms stuff */
#fullname, #email, #msg {
    width:750px;
}

.form-info textarea {
    width:750px;
    height:75px;
}

footer {
    float:right;
    font-size:12px
}