body {
    background-color:#aad4cf;
    font-family:Arial, Helvetica, sans-serif;
    margin:auto;
    font-weight:normal;
}

.webpage {
    background-color:#d4e9e7;
}

nav ul li {
    text-align:center;
    border-right:1px #000000;
    display:inline-block;
}