/* universal tags */
body {
    font-family:Arial, Helvetica, sans-serif;
}

/* nav */
.heading {
    background-color:#0001;
}

.heading nav ul li {
    color:orange;
    text-decoration:none;
    list-style-type:none;
}

.heading nav ul #Connect {
    color:black;
}