/* universal tags */
body {
    font-family:"Open Sans", sans-serif;
    font-weight:normal;
    margin:auto;
    padding:10px
}

h1,h2,h3,h4 {
    font-weight:bold;
    margin:10px;
}

p {
    margin:10px;
}

/* google font settings
.open-sans {
  font-family:"Open Sans", sans-serif;
  font-optical-sizing:auto;
  font-weight:<weight>;
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
}
 * /

/* nav */
#heading {
    background-color:#222;
}

#heading nav ul {
    padding:0;
    margin-top:0;
}

#heading nav ul li {
    margin:25px;
    font-size:28px;
    font-weight:100;
    text-align:center;
    color:#c78b06;
    list-style-type:none;
}

#heading nav ul .home {
    margin:0;
    background-color:#c78b06;
    color:black;
}

.container {
    background-color:#c78b06;
    position:relative;
    height:150px;
    margin-bottom:0;
}


/* Connect */
#Connect {
    color:white;
    background-color:black;
    z-index:1;
}

#Connect h1 {
    margin:0;
}

#Connect img {
    margin:0;
    position:relative;
    width:775px;
    height:auto;
    z-index:2;
}

/* background colours */
#About {
    background-color:#ffe6ac;
}

#Services {
    background-color:white;
}

.digital, .marketing, .video, .web, .print {
    background-color:#ffe6ac;
}

/* forms */

/* search */
nav form {
    display:flex;
    justify-content:center;
}

#search {
    margin-left:15px;
    margin-bottom:15px;
    height:40px;
    width:1200px;
    font-size:28px;
}

.fa-magnifying-glass {
    margin-right:15px;
    height:42px;
    width:42px;
    font-size:42px;
    border-style:solid;
    border-width:1px;
    color:#c78b06;
}

/* connect with us */
.black {
    color:black;
    background-color:#c78b06;
    border-style:none;
    font-size:18px;
    height:75px;
    width:175px;
}

@media screen and (min-width:760px) {
    
}