/* universal tags, use this for simplicity */
body {
    width:760px;
    font-family:"Open Sans", sans-serif;
    font-weight:normal;
    margin:auto;
    /* overflow-x:hidden; */
}

h1,h2,h3,h4 {
    font-weight:bold;
    margin:10px;
}

p {
    margin:10px;
}

/* google font settings
.open-sans {
  font-family:"Open Sans", sans-serif;
  font-optical-sizing:auto;
  font-weight:<weight>;
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
}
 * /

/* nav */
#heading {
    background-color:#222;
    width:760px;
}

#heading nav ul {
    padding:0;
    margin-top:0;
}

#heading nav ul li {
    margin:25px;
    font-size:28px;
    font-weight:100;
    text-align:center;
    color:#c78b06;
    list-style-type:none;
}

#heading nav ul .home {
    margin:0;
    background-color:#c78b06;
    color:#222;
}

.container {
    background-color:#c78b06;
    position:relative;
    height:150px;
    margin-bottom:0;
}


/* Connect */
.connect2 {
    width:760px;
    top:auto;
    bottom:-75px;
    color:white;
    background-color:rgba(0, 0, 0, 0.6);
    position:absolute;
    z-index:2;
}

.connect2 h1 {
    font-size:68px;
}

#Connect img {
    margin:0;
    width:760px;
    height:auto;
    position:relative;
    z-index:1;
}

/* table deco */
table, th, td{
    height:50px;
    border:solid;
    border-width:1px;
}

th {
    background-color:#ffe6ac;
}

table {
    width:760px;
}

/* About */
.about2 {
    width:760px;
    background-color:#ffe6ac;
    margin:15px;
}

.about2 img {
    width:100%;
    height:auto;
}

.about2 h2 {
    font-size:34px;
}

/* Services */
#Services{
    width:760px;
}

#Services h1 {
    font-size:38px;
}

#Services h2 {
    font-size:34px;
}

#Services img {
    margin:0;
    width:100%;
}

/* Digital Transformation */
.digital {
    background-color:#ffe6ac
}

.digital h2 {
    margin-top:25px;
    font-size:34;
}

/* Marketing */
.marketing {
    background-color:#ffe6ac
}

.marketing h2 {
    margin-top:25px;
    font-size:34;
}

/* Video Prod */
.video {
    background-color:#ffe6ac
}

.video h2 {
    margin-top:25px;
    font-size:34;
}

/* Web Development */
.web {
    background-color:#ffe6ac
}

.web h2 {
    margin-top:25px;
    font-size:34;
}

/* Print */
.print {
    background-color:#ffe6ac
}

.print h2 {
    margin-top:25px;
    font-size:34;
}

/* Vision */
#Vision {
    width:760px;
}

#Vision h1 {
    font-size:38px;
}

#Vision img {
    opacity:0;
    width:100%;
}

.vision2 {
    color:white;
    background-image:url("../images/vision.jpg");
    background-size:100%;
    background-position:50%;
}

/* Team information */
#Team {
    width:760px;
}

#Team h1 {
    margin-top:30px;
    font-size:38px;
}

/* john info */
.john {
    background-color:#ffe6ac;
    margin-bottom:15px;
}

.john img {
    width:100%;
}

.john hr {
    border-color:#c78b06;
    margin:10px;
}

/* bob info */
.bob {
    background-color:#ffe6ac;
}

.bob img {
    width:100%;
}

.bob hr {
    border-color:#c78b06;
    margin:10px;
}

/* Contact information */
#Contact {
    width:760px;
}

#Contact h1 {
    font-size:38px;
}

#Contact h2 {
    font-size:34px;
}

#fullname, #email {
    width:760px;
    height:25px;
}

#msg {
    width:760px;
    height:100px;
}

#btn {
    font-size:30px;
    background-color:#222;
    color:#c78b06;
    border-style:none;
    width:100px;
    height:50px;
}

.gmap {
    width:760px;
    height:500px;
    border-style:none;
}

.footer2 {
    background-color:#222;
    color:#c78b06;
    margin:25px;
    font-size:20px;
}

/* buttons and search */

/* search */
nav form {
    display:flex;
    justify-content:center;
}

#search {
    margin-left:15px;
    margin-bottom:15px;
    height:40px;
    width:1200px;
    font-size:28px;
}

.fa-magnifying-glass {
    margin-right:15px;
    height:42px;
    width:42px;
    font-size:42px;
    border-style:solid;
    border-width:1px;
    color:#c78b06;
}

/* connect with us */
.black {
    margin:15px;
    color:black;
    background-color:#c78b06;
    border-style:none;
    font-size:18px;
    height:75px;
    width:175px;
}

/* Digital Transformation form */
.digital form button {
    margin:15px;
    color:white;
    background-color:#222;
    border-style:none;
    font-size:18px;
    height:75px;
    width:175px;

}

/* marketing */
.marketing form button {
    margin:15px;
    color:white;
    background-color:#222;
    border-style:none;
    font-size:18px;
    height:75px;
    width:175px;
}

/* video */
.video form button{
    margin:15px;
    color:white;
    background-color:#222;
    border-style:none;
    font-size:18px;
    height:75px;
    width:175px;
}

/* web dev */
.web form button{
    margin:15px;
    color:white;
    background-color:#222;
    border-style:none;
    font-size:18px;
    height:75px;
    width:175px;
}

/* print */
.print form button{
    margin:15px;
    color:white;
    background-color:#222;
    border-style:none;
    font-size:18px;
    height:75px;
    width:175px;
}

/* vision */
#Vision form button{
    margin:15px;
    color:white;
    background-color:rgba(0, 0, 0, 0.6);
    border-style:solid;
    border-width:1px;
    border-color:#c78b06;
    font-size:18px;
    height:75px;
    width:175px;
}

@media screen and (min-width:760px) {

    /* general values for desktop view */
    body {
        width:1920px;
    }

    /* heading for desktop view */
    #heading {
        background-color:#222;
    }

    #heading nav ul {
        list-style-type:none;
    }

    #heading nav ul li {
        float:left;
    }

    nav form {

    }
}